@import url('http://fonts.googleapis.com/css?family=Open+Sans:wght@400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    margin: 0;
}

.cont-form {
    width: 70%;
    margin: auto;
}

.social-media {
    margin-top: 3em;
    width: 100%;
    padding: 15px;
}

.social-media > ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sml {
    font-size: 2.5em;
    margin: 0 15px 0 15px;
}

nav {
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    letter-spacing: 2px;
    padding: 1em 0;
    background-color: rgb(254, 254, 254);
    box-shadow: 10px 5px 15px 1px rgba(0, 0, 0, 0.1);
    color: rgb(44, 44, 44);
}

footer > p {
    margin-bottom: 0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

body {
    margin: 0;
    padding: 0;
    background: url(https://www.portalveterinaria.com/upload/20200204085416hedgehog-child-1759027_1920.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #458607;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="texto"], .login-box input[type="Contraseña"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="Subir"] {
    border: none;
    outline: none;
    height: 40px;
    background: #edf040;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="Subir"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #d19797;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

